<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PK.SimpleCraigslistListener.BLL.Properties.application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SimpleCraigslistListener.BLL.Properties.application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PK.SimpleCraigslistListener.BLL.Properties.application>
            <setting name="smtp" serializeAs="String">
                <value>!ADD!</value>
            </setting>
            <setting name="smtpUser" serializeAs="String">
                <value>!ADD!</value>
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value>!ADD!</value>
            </setting>
            <setting name="mailSubject" serializeAs="String">
                <value>NotifyBot : Craigslist Notification</value>
            </setting>
            <setting name="destinationEmail" serializeAs="String">
                <value>!ADD!</value>
            </setting>
            <setting name="searchResult" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rssLocation1" serializeAs="String">
                <value>!ADD!</value>
            </setting>
            <setting name="jobStartUpTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="jobIntervalScan" serializeAs="String">
                <value>30</value>
            </setting>
        </PK.SimpleCraigslistListener.BLL.Properties.application>
        <SimpleCraigslistListener.BLL.Properties.application>
            <setting name="smtp" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpUser" serializeAs="String">
                <value>phillip.knezevich@gmail.com</value>
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value>tazliamg</value>
            </setting>
            <setting name="mailSubject" serializeAs="String">
                <value>NotifyBot : Craigslist Notification</value>
            </setting>
            <setting name="destinationEmail" serializeAs="String">
                <value>phillip.knezevich@live.com</value>
            </setting>
            <setting name="searchResult" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rssLocation1" serializeAs="String">
                <value>http://phoenix.craigslist.org/search/sss?query=dyson&amp;srchType=A&amp;format=rss</value>
            </setting>
            <setting name="jobStartUpTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="jobIntervalScan" serializeAs="String">
                <value>30</value>
            </setting>
        </SimpleCraigslistListener.BLL.Properties.application>
    </userSettings>
</configuration>