<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleCraigslistListener.Properties.application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SimpleCraigslistListener.Properties.application>
            <setting name="smtp" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="mailSubject" serializeAs="String">
                <value>NotifyBot : Craigslist Notification</value>
            </setting>
            <setting name="destinationEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="searchResult" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rssLocation1" serializeAs="String">
                <value>http://losangeles.craigslist.org/sss/index.rss</value>
            </setting>
            <setting name="rssLocation2" serializeAs="String">
                <value>http://phoenix.craigslist.org/search/?areaID=18&amp;catAbb=sss&amp;query=dyson&amp;format=rss</value>
            </setting>
            <setting name="rssLocation3" serializeAs="String">
                <value>http://phoenix.craigslist.org/sss/index.rss</value>
            </setting>
            <setting name="rssLocation4" serializeAs="String">
                <value />
            </setting>
            <setting name="rssLocation5" serializeAs="String">
                <value />
            </setting>
            <setting name="jobStartUpTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="jobIntervalScan" serializeAs="String">
                <value>30</value>
            </setting>
        </SimpleCraigslistListener.Properties.application>
    </userSettings>
</configuration>